<div class="ContactWrapper" style="margin: 5rem 0;">
    <div class="Container">
        <div class="SectionTitle">Get In Touch</div>
        <div class="BigCard">
            <div class="Email">
                <span style="font-size: 3rem;font-weight: 500; margin-bottom: 1rem; ">ashish.mukati.31@gmail.com</span>
                <a class="btn PrimaryBtn" href="mailto:ashish.mukati.31@gmail.com" target="_blank"
                    rel="noopener noreferrer">
                    Send Mail
                </a>
            </div>

        </div>
    </div>
</div>