<div class="CareerWrapper">
    <div class="Container">
        <div class="SectionTitle">Career
            <span style="padding-left: 10px;
            color: #689af8;
            font-size: 0.6em;">+</span>
        </div>
        <div class="container-3">
            <div class="career-column">
                <h3 class="company">Fealty Technologies</h3>
                <h1 class="postion">Software Developer</h1>
                <h1 class="position_dates">Mar 2022 - Present</h1>
            </div>
            <div class="career-column">
                <h3 class="company">Academeet pvt ltd</h3>
                <h1 class="postion">Software Intern</h1>
                <h1 class="position_dates">Nov 2021 - March 2022</h1>
            </div>
        </div>
    </div>
</div>