<div class="social">
    <ul>
        <li class="item">
            <a class="icons" href="https://www.linkedin.com/in/ashish-mukati-kumawat-ba0708145/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li class="item">
            <a class="icons" href="https://instagram.com/_aashish_mukati_?igshid=ZDdkNTZiNTM=" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="item">
            <a class="icons" href="https://github.com/Ashish3035/" target="_blank">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </li>
    </ul>
</div>