<div class="homeContainer">
    <div class="homeWrapper">
        <div class="homeLeft">
            <h1>Hello, it's me</h1>
            <h1 class="name">Ashish
                <span style="color: #5f99ff;margin-left: -21px;">.</span>
            </h1>
            <h5>Frontend Developer</h5>
            <p>
                An enthusiastic product designer currently shaping the future of software development by designing
                smooth user-interfaces that promote user interaction with information and data. While traveling around
                the world.
            </p>
        </div>
        <div class="homeRight">
            <img src="/assets/ashish.JPEG" style="border-radius: 10px;" alt="man-svgrepo">
        </div>
    </div>

    <div class="scrollDown">
        <div class="scrollLink">Scroll Down
            <img (click)="scroll()" class="scrollimg"
                src="https://raw.githubusercontent.com/gurupawar/website/main/src/Assets/scroll-down.svg"
                alt="scroll-down" />
        </div>
    </div>
</div>