<div class="homeContainer">
    <div class="homeWrapper">
        <div class="homeLeft">
            <h1>Hello, it's me</h1>
            <h1 class="name">Ashish
                <span style="color: #5f99ff;margin-left: -21px;">.</span>
            </h1>
            <h5>Software Developer - FE</h5>
            <p>
                As a passionate frontend developer, I specialize in crafting intuitive, user-friendly interfaces that enhance the interaction between users and data. With a focus on delivering seamless experiences, I bridge design and functionality, ensuring visually engaging and responsive products. When I'm not coding, I enjoy exploring the world and drawing inspiration from diverse cultures to bring fresh perspectives to my work.
            </p>
        </div>
        <div class="homeRight">
            <img src="/assets/ashish2.JPEG" style="border-radius: 10px;" alt="man-svgrepo">
        </div>
    </div>

    <div class="scrollDown">
        <div class="scrollLink">Scroll Down
            <img (click)="scroll()" class="scrollimg"
                src="https://raw.githubusercontent.com/gurupawar/website/main/src/Assets/scroll-down.svg"
                alt="scroll-down" />
        </div>
    </div>
</div>